<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">

<dom-module id="log-out2">
  <template>
    <style>
      :host {
        margin: 0;
        padding: 0;
    </style>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

  <div main-title>concha de tu madre</div>

  <script>
  (function() {
      class LogOut2 extends Polymer.Element {
          static get is() {
              return 'log-out2';
          }

          static get properties() {
              return {
                  storedUser: Object,
                  link: {
                      type: Boolean,
                      value: false
                  }
              }
          }

          logout() {
              this.storedUser = null;
          }
      }

      window.customElements.define(LogOut2.is, LogOut2);
  }());
    </script>
</dom-module>
