<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="shared-styles.html">

<dom-module id="prestamos-bbva">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      table {
        text-align: center;
        width: 100%;
        border: 1px solid #000;
      }
      th, td {
         width: 25%;
         text-align: center;
         vertical-align: top;
         border: 1px solid #000;
         border-collapse: collapse;
         padding: 0.3em;
         caption-side: bottom;
      }
      caption {
         padding: 0.3em;
         color: #fff;
          background: #000;
      }
      th {
         background: #eee;
      }
    </style>

<!--    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser"></iron-localstorage>-->
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax
            id="getSecretQuoteAjax"
            method="get"
            url="http://localhost:3000/apiperu/v1/solicitud/{{storedUser.id}}"
            last-response="{{solicitudes}}"
            handle-as="json"
            loading="{{cargando}}">
    </iron-ajax>

    <paper-spinner alt="Cargando prestamos..." active="[[cargando]]"></paper-spinner>

    <div class="card">
      <div hidden$="[[!storedUser.loggedin]]">
        <paper-button class="custom indigo" raised on-tap="getSecretQuote">Visualizar</paper-button>
      </div>

      <div hidden$="[[!storedUser.loggedin]]">
      <table>
          <tr>
            <th>NRO</th>
            <th>MONEDA</th>
            <th>MONTO</th>
            <th>ESTADO</th>
          </tr>
          <tr>
            <td>
              <ul>
                <template is="dom-repeat" items="[[solicitudes]]">
                  <li>[[item.nroSolicitud]]</li>
                </template>
              </ul>
            </td>
            <td>
              <ul>
                <template is="dom-repeat" items="[[solicitudes]]">
                  <li>[[item.monSolicitud]]</li>
                </template>
              </ul>
            </td>
            <td>
              <ul>
                <template is="dom-repeat" items="[[solicitudes]]">
                  <li>[[item.montoSolicitud]]</li>
                </template>
              </ul>
            </td>
            <td>
              <ul>
                <template is="dom-repeat" items="[[solicitudes]]">
                  <li>[[item.estSolicitud]]</li>
                </template>
              </ul>
            </td>
          </tr>
      </table>
      </div>

      <p hidden$="[[storedUser.loggedin]]">Debes <a href="/register-login">Ingresar</a> para ver tus solicitudes!</p>
    </div>

  </template>

  <script>
    class PrestamosBbva extends Polymer.Element {
        static get is() { return 'prestamos-bbva'; }

        static get properties() {
            return {
                storedUser: Object
            };
        }

        initStoredUser() {
            // if entering site on the secret quotes page, verify if logged in and if so, preload a secret quote
            if (this.storedUser.loggedin) {
                this.getSecretQuote();
            }
        }

        getSecretQuote() {
            // add token authorization and generate Ajax request
            this.$.getSecretQuoteAjax.generateRequest();
        }

        handleUserResponse(event) {
            console.log(event)
            var response = JSON.parse(event.detail.response);
            console.log(response)
            this.nroSolicitud = response.nroSolicitud;
            console.log(nroSolicitud)
            this.soliUser = {
                monSolicitud: response.monSolicitud,
                montoSolicitud: response.montoSolicitud,
                estSolicitud: response.estSolicitud,
                view : true
            };
        }
    }

    window.customElements.define(PrestamosBbva.is, PrestamosBbva);
  </script>
</dom-module>
