<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="log-out.html">
<link rel="import" href="alta-soli.html">

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-ajax
      id="registerLoginAjax"
      method="post"
      content-type="application/json"
      handle-as="text"
      loading="{{ingresando}}"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <paper-spinner alt="Ingresando..." active="[[ingresando]]"></paper-spinner>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <iron-localstorage name="alta-user" value="{{altaUser}}"></iron-localstorage>
    <iron-localstorage name="sit-alta" value="{{sitAlta}}"></iron-localstorage>
    <iron-localstorage name="cod-solicitud" value="{{codSolicitud}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <brum-global-variable key="altaUser" value="{{altaUser}}"></brum-global-variable>
    <brum-global-variable key="sitAlta" value="{{sitAlta}}"></brum-global-variable>
    <brum-global-variable key="codSolicitud" value="{{codSolicitud}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>¡Bienvenido!</h1>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">Usuario</label>
          <iron-input slot="input" bind-value="{{formData.email}}">
            <input class="input-style" id="email" type="text" value="{{formData.email}}" placeholder="___________">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label>Contraseña</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}" placeholder="_______">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="custom indigo" on-tap="postLogin">Ingresar</paper-button>
          <paper-button raised class="link" on-tap="postRegister">Afiliate</paper-button>
        </div>
      </div>

      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hola, [[storedUser.name]]!</h2>
        <p>Ud. esta Logueado!</p>
        <log-out stored-user="{{storedUser}}" link></log-out>
      </div>
    </div>
  </template>

  <script>
        class RegisterLogin extends Polymer.Element {
            static get is() { return 'register-login'; }
            static get properties() {
                return {
                    formData: {
                        type: Object,
                        value: {}
                    },
                    storedUser: Object,
                    altaUser: Object,
                    sitAlta: Object,
                    codSolicitud: Object
                }
            }

            postLogin() {
                this.$.registerLoginAjax.url = 'http://localhost:3000/apiperu/v1/loginbd';
                this._setReqBody();
//                console.log(this.$.registerLoginAjax.body)
                this.$.registerLoginAjax.generateRequest();
            }

            _setReqBody() {
                this.$.registerLoginAjax.body = this.formData;
            }

            postRegister() {
                this.$.registerLoginAjax.url = 'http://localhost:3001/users';
                this._setReqBody();
                this.$.registerLoginAjax.generateRequest();
            }

            handleUserResponse(event) {
              console.log(event)
                var response = JSON.parse(event.detail.response);
                if (response.msg="Login correcto") {
                    this.error = '';
                    this.altaUser = {
                        usuarioID: response.usuarioID
                    };
                    this.codSolicitud = {
                        nroSolicitud: ''
                    };
                    this.sitAlta = {
                        altaOk: false
                    };
                    this.storedUser = {
                        name: response.name,
                        id: response.usuarioID,
                        loggedin: true
                    };

/*                    this.name = response.name; */

                    // redirect to Home BBVA
/*                    this.set('route.path', '/prestamos-bbva');*/
                }

                // reset form data
                this.formData = {};
            }

            handleUserError(event) {
                this.error = event.detail.request.xhr.response;
            }
        }

    window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
